.packList {
    padding-left: 10px;
    background-color: #FEFEFF;
    display: flex;
    flex-direction: column;
    min-height: 600px;
}

.searchBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.searchBar input {
    width: 480px;
}

.searchBar div button {
    margin-top: 10px;
}
