.packList {
    padding: 20px;
    background-color: #FEFEFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.searchBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.searchBar input {
    width: 480px;
}

.searchBar button {
    width: 150px;
}

.searchButton {

}
