.settings {
    height: 50%;
    padding: 20px;
    background: #ECECF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h5 {

}

.sliderBlock {
    text-align: center;
    border: 1px solid;
}

.userInfoBlock {

}
