.settings {
    height: 80%;
    background: #ECECF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav {
    text-decoration: none;
}

.sliderBlock {
    text-align: center;
}

.userInfoBlock {
    text-align: center;
    height: 50%;
}

.userInfoBlock div {
    margin-top: 10px;
}
