.settings {
    height: 400px;
    background: #ECECF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h5 {

}

.sliderBlock {
    text-align: center;
}

.userInfoBlock {
    text-align: center;
}

.userInfoBlock div {
    margin-top: 10px;
}
