.paper {
    background: hsla(240, 71%, 99%, 1);
    height: 540px;
    width: 413px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
