.app {
    font-family: "Comic Sans MS", sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
    color: #2D2E46;

}

.container {
    margin-top: 30px;
}
.linear-progress {
    margin-top: 60px;
}
