.header {
    height: 60px;
    width: 100%;
    background-color: #EBE0E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemsContainer {
    width: 30%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.packsItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95%;
    width: 40%;
    border: 1px solid #9890C7;
}

.profileItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95%;
    width: 40%;
    border: 1px solid #9890C7;
}

.text {

}
